<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pedidos</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

</head>
<body>
<section class="content">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Pedidos</h4>
				<div class="form-row">
					<div class="col-m-6">
						<div class="form-group">
							<a href="/pedido/nuevo" class="btn btn-primary">Nuevo
								Pedido</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Lista de Pedido</h4>

				<div class="table-responsive">
					<table id="idTablePedido" class="table table-dark">
						<thead>
							<tr>
								<th>ID</th>
								<th>Descripcion</th>
								<th>Fecha de Pedido</th>
								<th>Fecha de Entrega</th>
								<th>Categoria</th>
								<th>Clientes</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="pedido : ${listarPedido}">
								<tr>
									<td th:text="${pedido.cod_pedido}"></td>
									<td th:text="${pedido.desc_pedido}"></td>
									<td th:text="${pedido.fec_pedido}"></td>
									<td th:text="${pedido.fecEntreg_pedido}"></td>
									<td th:text="${pedido.categoria.nom_cat}"></td>
									<td th:text="${pedido.clientes.nom_cli}"></td>
									<td><a class="btn btn-success" 
										th:href="@{/pedido/editar/{id}(id=${pedido.cod_pedido})}"> <i
											class="zmdi zmdi-edit zmdi-hc-fw" th:text="Editar"></i>

									</a> <a class="btn btn-danger" th:href="@{/pedido/eliminar/{id}(id=${pedido.cod_pedido})}"> 
									<i class="zmdi zmdi-delete zmdi-hc-fw" th:text="Eliminar"></i>

									</a></td>
								</tr>
							</th:block>
						</tbody>
					</table>

					<div class="table-responsive"></div>
				</div>
			</div>
		</div>
	</section>
	
<script type="text/javascript">
		$(document).ready(function() {
			$("#idTablePedido").DataTable();
		});			
	</script>	

</body>
</html>