<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="ISO-8859-1">

<title>Listado de Productos</title>
<th:block th:insert="fragments/resources"></th:block>

</head>
<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">

		<div class="card">

			<div class="card-body">

				<h4 class="card-title">Productos</h4>



				<div class="form-row">

					<div class="col-m-6">

						<div class="form-group">

							<a href="/productos/nuevo" class="btn btn-primary">Nuevo
								Producto</a>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Lista de Productos</h4>

				<div class="table-responsive">
					<table id="idTableProducto" class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>DESCRIPCION</th>
								<th>CATEGORIA</th>
								<th>PROVEEDOR</th>
								<th>STOCK</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="producto : ${listarProductos}">
								<tr>
									<td th:text="${producto.idpro}"></td>
									<td th:text="${producto.descripcion}"></td>
									<td th:text="${producto.precio}"></td>
									<td th:text="${producto.categoria.descripcion}"></td>
									<td th:text="${producto.proveedor.razons}"></td>
									<td th:text="${producto.stock}"></td>			
									<td><a class="btn btn-primary"
										th:href="@{/productos/editar/{idproducto}(id=${producto.idproducto})}"> <i
											class="zmdi zmdi-edit zmdi-hc-fw"></i>

									</a> <a class="btn btn-danger" href="#"
										th:onclick="'eliminarProducto(' + ${producto.idproducto} +')'"> <i
											class="zmdi zmdi-delete zmdi-hc-fw"></i>

									</a></td>
								</tr>
							</th:block>
						</tbody>
					</table>

					<div class="table-responsive"></div>
				</div>
			</div>
		</div>
	</section>


	<script type="text/javascript">
		$(document).ready(function() {
			$("#idTableProducto").DataTable();
		});
		
		
		function eliminarProducto(id){
			swal({

                title: 'Are you sure?',

                text: 'You will not be able to recover this imaginary file!',

                type: 'warning',

                showCancelButton: true,

                buttonsStyling: false,

                confirmButtonClass: 'btn btn-danger',

                confirmButtonText: 'Yes, delete it!',

                cancelButtonClass: 'btn btn-secondary'

            }).then(function(result){
				
				if(result.value){
					
					$.ajax({
						url: "/productos/eliminar/" + id,
						type: "GET",
						success: function(){

                			swal("Ok", "Se ha eliminado", "success").then(function(){

                				window.location = "/productos";

                            });

                		}
					})
				}
				
				
			});
		}
		
		
	</script>

</body>
</html>