<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insertar Producto</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>

<section class="content">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Nuevo Producto</h4>

				<form th:action="@{/productos/crear}" th:method="post"
					th:object="${producto}">
					
					<div class="form-row">
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputDescrip">DESCRIPCION:</label>
								<input type="text" th:field="*{desc_prod}" class="form-control"
									placeholder="Nombre Producto" maxlength="50"> <i
									class="form-group__bar"></i>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
							<label for="inputPrecio">PRECIO: </label>
								<input type="text" th:field="*{prec_prod}" class="form-control"
									placeholder="Precio" maxlength="50"> <i
									class="form-group__bar"></i>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
								<label for="inputCategoria">CATEGORIA :</label>
								<select th:field="*{categorias.cod_cat}" class="form-control">
									<option value="-1">Seleccione</option>
									<option th:each="categorias : ${listaCategoria}"
										th:value="${categorias.cod_cat}"
										th:text="${categorias.nom_cat}" />
								</select>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
								<label for="inputCategoria">PROVEEDOR :</label>
								<select th:field="*{proveedores.cod_prov}" class="form-control">
									<option value="-1">Seleccione</option>
									<option th:each="proveedores : ${listaProveedor}"
										th:value="${proveedores.cod_prov}"
										th:text="${proveedores.nom_prov]}" />
								</select>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputStock">STOCK :</label>
								<input type="text" th:field="*{stk_prod}" class="form-control"
									placeholder="Sotck" maxlength="50"> <i
									class="form-group__bar"></i>
							</div>
						</div>

					</div>

					<div class="form-row">
						<div class="col-md-12">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Registrar</button>
								<a href="/productos" class="btn btn-danger">Cancelar</a>
							</div>
						</div>
					</div>


				</form>

			</div>

		</div>
	</section>

</body>
</html>