<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Listado de Proveedores</title>
<th:block th:insert="fragments/resources"></th:block>

</head>
<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">

		<div class="card">

			<div class="card-body">

				<h4 class="card-title">Proveedores</h4>



				<div class="form-row">

					<div class="col-m-6">

						<div class="form-group">

							<a href="/proveedores/nuevo" class="btn btn-primary">Nuevo
								Proveedor</a>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Lista de Proveedores</h4>

				<div class="table-responsive">
					<table id="idTableProveedor" class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Razón Social</th>
								<th>Ruc</th>
								<th>Dirección</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="proveedor : ${ListarProveedores}">
								<tr>
									<td th:text="${proveedor.idprov}"></td>
									<td th:text="${proveedor.razons}"></td>
									<td th:text="${proveedor.ruc}"></td>
									<td th:text="${proveedor.direccion}"></td>								
									<td><a class="btn btn-primary"
										th:href="@{/proveedor/editar/{id}(id=${proveedor.idprov})}"> <i
											class="zmdi zmdi-edit zmdi-hc-fw"></i>

									</a> <a class="btn btn-danger" href="#"
										th:onclick="'eliminarProveedor(' + ${proveedor.idprov} +')'"> <i
											class="zmdi zmdi-delete zmdi-hc-fw"></i>

									</a></td>
								</tr>
							</th:block>
						</tbody>
					</table>

					<div class="table-responsive"></div>
				</div>
			</div>
		</div>
	</section>


	<script type="text/javascript">
		$(document).ready(function() {
			$("#idTableProveedor").DataTable();
		});
		
		
		function eliminarProveedor(id){
			swal({

                title: '¿Estas seguro?',

                text: 'No podrás recuperar este archivo imaginario!',

                type: 'warning',

                showCancelButton: true,

                buttonsStyling: false,

                confirmButtonClass: 'btn btn-danger',

                confirmButtonText: 'Eliminar',

                cancelButtonClass: 'btn btn-secondary'

            }).then(function(result){
				
				if(result.value){
					
					$.ajax({
						url: "/proveedor/eliminar/" + id,
						type: "GET",
						success: function(){

                			swal("Ok", "Se ha eliminado", "success").then(function(){

                				window.location = "/proveedor";

                            });

                		}
					})
				}
				
				
			});
		}
		
		
	</script>

</body>
</html>