<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Insertar Proveedor</title>
<th:block th:insert="fragments/resources"></th:block>

</head>
<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">
		<div class="card">

			<div class="card-body">

				<h4 class="card-title">Nuevo Proveedor</h4>


				<form th:action="@{/proveedores/crear}" th:method="post"
					th:object="${proveedor}">
					<div class="form-row">

					<div class="col-md-6">
							<div class="form-group">
							<label for="inputDescrip">RAZON SOCIAL :</label>
								<input type="text" th:field="*{razons}" class="form-control"
									placeholder="Razon Social" maxlength="45"> <i
									class="form-group__bar"></i>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputDescrip">RUC :</label>
								<input type="text" th:field="*{ruc}" class="form-control"
									placeholder="Ruc" maxlength="11"> <i
									class="form-group__bar"></i>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputDescrip">DIRECCION :</label>
								<input type="text" th:field="*{direccion}" class="form-control"
									placeholder="Dirección" maxlength="100"> <i
									class="form-group__bar"></i>
							</div>
						</div>	
									
					</div>

					<div class="form-row">
						<div class="col-md-12">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Registrar</button>
								<a href="/proveedor" class="btn btn-danger">Cancelar</a>
							</div>
						</div>
					</div>


				</form>
			</div>

		</div>
	</section>

</body>
</html>