<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insertar Cliente</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

</head>
<body>
<section class="content">
      <div class="card">
			<div class="card-body">

				<h4 class="card-title">Nuevo Cliente</h4>

				<form th:action="@{/clientes/crear}" th:method="post"
					th:object="${cliente}">
					
					<div class="form-row">
					
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputNombre">NOMBRE DEL CLIENTE :</label>
								<input type="text" th:field="*{nom_cli}" class="form-control"
									placeholder="Nombre" maxlength="50"> <i
									class="form-group__bar"></i>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
							<label for="inputApellido">APELLIDO DEL CLIENTE : </label>
								<input type="text" th:field="*{ape_cli}" class="form-control"
									placeholder="Apellido" maxlength="50"> <i
									class="form-group__bar"></i>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputDireccion">DIRECCION : </label>
								<input type="text" th:field="*{direc_cli}" class="form-control"
									placeholder="Direccion" maxlength="50"> <i
									class="form-group__bar"></i>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputCorreo">CORREO : </label>
								<input type="text" th:field="*{correo_cli}" class="form-control"
									placeholder="Correo" maxlength="50"> <i
									class="form-group__bar"></i>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputTelefono">TELEFONO : </label>
								<input type="text" th:field="*{telef_cli}" class="form-control"
									placeholder="Telefono" maxlength="50"> <i
									class="form-group__bar"></i>
							</div>
						</div>

					</div>

					<div class="form-row">
						<div class="col-md-12">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Registrar</button>
								<a href="/clientes" class="btn btn-danger">Cancelar</a>
							</div>
						</div>
					</div>


				</form>

			</div>

		</div>




</section>

</body>
</html>