<aside class="sidebar">

	<div class="scrollbar-inner">

		<div class="user">

			<div class="user__info" data-toggle="dropdown">

				<img class="user__img" th:src="@{/demo/img/profile-pics/8.jpg}"
					alt="">

				<div>

					<div class="user__name">USUARIO</div>

					<div class="user__email">user@gmail.com</div>

				</div>

			</div>

			<!-- <div class="dropdown-menu">

				<a class="dropdown-item" href="">View Profile</a>

			</div> -->

		</div>


		<ul class="navigation">

			<li><a href="inicio"><i class="zmdi zmdi-home"></i> Inicio</a></li>
			
			<li>
				<a href="/ingreso"><i class="zmdi zmdi-assignment-check"></i>Ingresos</a>
			</li>
			
			<li>
				<a href="/venta"><i class="zmdi zmdi-card"></i>Ventas</a>
			</li>

			<li>
				<a href="/productos"><i class="zmdi zmdi-view-list"></i>Productos</a>
			</li>
			
			<li>
				<a href="/proveedor"><i class="zmdi zmdi-accounts"></i>Proveedores</a>
			</li>
			
			<!-- Moficar y copiar ese li para las demas vistas -->
			
			<li>
				<a href="/trabajador"><i class="zmdi zmdi-face"></i>Trabajadores</a>
			</li>
			
			<li>
				<a href="/cliente"><i class="zmdi zmdi-accounts-list-alt"></i>Clientes</a>
			</li>
			
			<li>
				<a href="/categoria"><i class="zmdi zmdi-format-list-bulleted"></i>Categorias</a>
			</li>

		</ul>

	</div>

</aside>