<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Editar Trabajador</title>
<th:block th:insert="fragments/resources"></th:block>

</head>
<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">
		<div class="card">

			<div class="card-body">

				<h4 class="card-title">Editar Trabajador</h4>

				<form th:action="@{/trabajador/actualizar}" th:method="post"
					th:object="${trabajador}">
					
					
					<input type="hidden" th:field="*{idtra}"> 
					<div class="form-row">

						<div class="col-md-6">
							<div class="form-group">
							<label for="inputDescrip">NOMBRE:</label>	
								<input type="text" th:field="*{nombre}" class="form-control"
									placeholder="Nombres" maxlength="45"> <i
									class="form-group__bar"></i>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputDescrip">APELLIDO:</label>	
								<input type="text" th:field="*{apellido}" class="form-control"
									placeholder="Apellidos" maxlength="45"> <i
									class="form-group__bar"></i>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputDescrip">DNI:</label>	
								<input type="text" th:field="*{dni}" class="form-control"
									placeholder="Dni" maxlength="8"> <i
									class="form-group__bar"></i>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputDescrip">DIRECCION:</label>	
								<input type="text" th:field="*{direccion}" class="form-control"
									placeholder="Direccion" maxlength="100"> <i
									class="form-group__bar"></i>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputDescrip">TELEFONO:</label>	
								<input type="text" th:field="*{telefono}" class="form-control"
									placeholder="Telefono" maxlength="10"> <i
									class="form-group__bar"></i>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputDescrip">USUARIO:</label>	
								<input type="text" th:field="*{username}" class="form-control"
									placeholder="Usuario" maxlength="20"> <i
									class="form-group__bar"></i>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputDescrip">CONTRASEÑA:</label>	
								<input type="text" th:field="*{clave}" class="form-control"
									placeholder="Contraseña" maxlength="20"> <i
									class="form-group__bar"></i>
							</div>
						</div>

					</div>

					<div class="form-row">
						<div class="col-md-12">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Actualizar</button>
								<a href="/trabajador" class="btn btn-danger">Cancelar</a>
							</div>
						</div>
					</div>


				</form>

			</div>

		</div>
	</section>

</body>
</html>